html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #EFEFEF;
}

.jumbotron {
    background-color: black;
    color: orange;
}

#bg-white{
    background-color: white;
    padding: 30px;
    margin-bottom: 30px;
}
.widget-bottom
{
    color: white;
    background-color: orange;
}
.widget div
{
    padding: 15px;
}
.widget
{
    background-color: white;
    border: solid 1px orange;
    border-radius: 5px;
}
.info-block
{
    background-color: white;
    border: 1px solid white;
    box-shadow: 0 5px 25px rgba(0,0,0,0.5);
    min-height: 225px;
}
i
{
    color: orange;
}