@model List<Formation>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2 class="text-center small">Vos formations</h2>

<div class="container text-right">
    <div class="row">
        <div class="col-md-12">
            @foreach (var formation in Model)
            {
                <article class="info-block">
                    <div class="card-body">
                        @formation.Name
                        <div class="text-end">
                            <p>@formation.Url</p>
                        </div>
                        <p>Vous êtes intéressé n'hésitez plus et venez découvrir la prochaine session</p>
                    </div>
                    <a asp-action="DetailFormation" asp-controller="Formation" asp-route-id="@formation.Id" class="border m-2 text-center" style="width: 7rem">
                        <h4>Inscription</h4>
                    </a>


                </article>

            }

        </div>



    </div>
</div>
