@model List<Formation>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2 class="text-center p-3">Vos formations</h2>

<div class="container text-right">
    <div class="row">
        
            @foreach (var formation in Model)
            {
                <div class="col-md-3 col-sm-6">
                <article class="info-block">
                    <div class="card-body">
                        <h2>@formation.Name</h2>
                        <div class="text-center">
                            <p>@formation.Description</p>
                        </div>
                        <p>Vous êtes intéressé n'hésitez plus et venez découvrir la prochaine session</p>
                    </div>
                    <a asp-action="DetailFormation" asp-controller="Formation" asp-route-id="@formation.Id" class="border m-2 text-center" style="width: 7rem">
                        <h4>Inscription</h4>
                    </a>


                </article>
                </div>
                
            }

        



    </div>
</div>
<div class="container">
    <a asp-action="Add" asp-controller="Formation" class="btn btn-primary">
        <h3>Ajouter une formation</h3>
    </a>
</div>
