@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron text-center">
    <h1>Mes formations</h1>
    <p> Choissisez les meilleurs formations</p>
</div>
<div class="container text-center">
    <h2>Pourquoi utiliser Avis Formation ? </h2>
    <h3>Bénéfices formateur</h3>

    <div id="bgW" class="row">
        <i class="fa-solid fa-block-question"></i>
        <div class="col-md-6">
            conversion
        </div>
        <div class="col-md-6">
            visibilité
        </div>
        <div class="col-md-6">
            fidélisation
        </div>
        <div class="col-md-6">
            confiance
        </div>

    </div>

</div>
<div class="container text-center">
    <div class="row">
        <div class="col-md-8">
            <h3>Professionnels de la formation, affichez notre badge sur votre site pour augmenter vos conversion</h3>
        </div>
        <div class="col-md-4">
            <div class="widget">
                <div class="widget-top">
                    Avis Elèves 4.8 / 5
                    <span>*****</span>
                </div>
                <div class="widget-bottom">
                    Avis récoltés par AvisFormation.fr
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row text-center">
        <div class="col-md-3">
            <h4>85%</h4>
            <p>85% des visiteurs consultent les avis clients avant d'avoir acheté</p>
        </div>
        <div class="col-md-3">
            <h4>91%</h4>
            <p>91% de ceux qui lisent les avis les considerent comme le vecteur numéro 1 dans le décisions d'achat</p>
        </div>
        <div class="col-md-3">
            <h4>25%</h4>
            <p>25% est le taux de conversion pour les sites avec une étoile Google</p>
        </div>
        <div class="col-md-3">
            <h4>80%</h4>
            <p>80% des avis ont une note et des commentaires positif</p>
        </div>
    </div>
</div>

