@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron text-center">
    <h1>Mes formations</h1>
    <p> Choissisez la meilleur formation</p>
</div>
<div class="container text-center">
    <h2>Pourquoi utiliser Avis Formation ? </h2>
    <h3>Bénéfices formateur</h3>

    <div class="row">
        <div class="col-md-6">
            conversion
        </div>
        <div class="col-md-6">
            visibilité
        </div>
        <div class="col-md-6">
            fidélisation
        </div>
        <div class="col-md-6">
            confiance
        </div>

    </div>

</div>
<div class="container text-center">
    <div class="row">
        <div class="col-md-8">
            <h3>Professionnels de la formation, affichez notre badge sur votre site pour augmenter vos conversion</h3>
        </div>
        <div class="col-md-4">
            <div class="widget">
                <div class="widget-top">
                    Avis Elèves 4.8 / 5
                    <span>*****</span>
                </div>
                <div class="widget-bottom">
                    Avis récoltés par AvisFormation.fr
                </div>
            </div>
        </div>
    </div>
</div>

